.main
  .header
    .headers
      .headers__group
        = @group.name
      .headers__member
        - @group.users.each do |user|
          =user.name

    = link_to edit_group_path(@group), class: "header__edit" do
      Edit

  .chat
    .messages
      = render @messages
    
  .footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'footer__message', placeholder: 'type a message'
      .footer__message__items
        = f.label :image, class: 'footer__message__items__icon' do
          = icon('fas', 'image', class: 'footer__massage__items__icon')
          = f.file_field :image, class: 'footer__message__items__input'
      = f.submit 'Send', class: 'footer__send'