.sidebar
  .user
    .user__name
      = current_user.name
    .user__edit
      = link_to new_group_path do
        =icon 'fas','edit', class: 'user__edit__icon1'
      = link_to edit_user_path(current_user) do
        =icon 'fas','cog', class: 'user__edit__icon2'

  .group
    - current_user.groups.each do |group|
      .group__items
        = link_to group_messages_path(group) do
          .group__items__name
            = group.name
          .group__items__message
            = group.show_last_message
          .group__items__time
            = group.show_last_message_created_at